body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.card {
    width: 500px;
    height: 600px;
    perspective: 1000px;
    cursor: pointer;
}

/*FLIP CONTAINER*/
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/*CLICK FLIP (not hover)*/
.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FRONT*/
.card-front {
    background-color: #fff;
}

.card-front, .card-back p {
    background-color: #fff;
    font-family: 'Great Vibes', cursive;
    font-size: 26px;
    line-height: 1.4;
    margin-top: 5px;
    color: #333;
    text-align: center;
}

/*CARD BACK*/
.card-back {
    background-color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-front img, .card-back img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: contain;
}

/* Responsive design */
@media (max-width: 768px) {
    .card {
        width: 300px;
        height: 400px;
    }
    .card-front p {
        font: 16px;
    }
    .card-back p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 250px;
        height: 350px;
    }
    .card-front p {
        font: 14px;
    }
    .card-back p {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 600px;
        height: 700px;
    }
    .card-front p {
        font: 20px;
    }
    .card-back p {
        font-size: 20px;
    }
}

@media screen {
    .card-front img,
    .card-back img {
        width: 100%;
        height: auto;
        max-height: 80vh; 
        object-fit: contain;
        border-radius: 10px;
    }

    .card-back p {
        font-size: 5vw;
        padding: 0 16px;
    }

    .card-front p {
        font-size: 5vw;
    }
}
